<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; connect-src 'self' local-model:; img-src 'self' local-model:;">
  <title>Live2D Electron App</title>

  <style>
    /* 캔버스 크기를 명시적으로 지정해야 WebGL 계산 오류를 방지할 수 있습니다. */
    body,
    html {
      margin: 0;
      padding: 0;
      overflow: hidden;
      height: 100%;
    }

    #live2d {
      width: 100vw;
      height: 100vh;
      display: block;
    }
  </style>


</head>

<body>
  <div id="root"></div>
  <script src="../../live2dcubismcore.min.js"></script>
  <script type="module" src="./index.tsx"></script>
</body>

</html>